<div class="bg-secondary h-100">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="card shadow text-center p-5 mt-5">
        <img
          src="assets/logo_200x200.jpg"
          alt="error"
          width="200px"
          class="rounded mx-auto mb-5"
        />

        <h3>Debes iniciar sesión o registrarte para continuar</h3>

        <a
          href="https://authnotazero.auth.us-east-1.amazoncognito.com/login?client_id=4i1jp7j7jkhscvmco4i2bnkkhf&response_type=token&scope=aws.cognito.signin.user.admin+email+openid+phone&redirect_uri=https%3A%2F%2Fandres.d10kksskjz3n1p.amplifyapp.com%2F"
          class="btn btn-dark"
          >iniciar sesion
        </a>

        <br />

        <a
          href="https://authnotazero.auth.us-east-1.amazoncognito.com/signup?client_id=4i1jp7j7jkhscvmco4i2bnkkhf&response_type=token&scope=aws.cognito.signin.user.admin+email+openid+phone&redirect_uri=https%3A%2F%2Fandres.d10kksskjz3n1p.amplifyapp.com%2F"
          class="btn btn-secondary"
          >Registrate
        </a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
